<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mwolowyk.stuffinder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true" >
        <activity
            android:name="ItemsOverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ItemDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        
         <activity
            android:name="PlacesOverviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="PlaceDetailActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        
        <provider android:name=".contentprovider.ItemContentProvider" android:authorities="de.mwolowyk.stuffinder.contentprovider.items"/>
        <provider android:name=".contentprovider.PlaceContentProvider" android:authorities="de.mwolowyk.stuffinder.contentprovider.places"/>
        
       
    </application>

</manifest>
